@keyframes fadeInOp0to1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bgFadeIn {
  from {
    //transform: scale(0);
    opacity: 0.7;
  }
  to {
    //transform: scale(1);
    opacity: 1;
  }
}

@keyframes type-in {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes vert-arrow-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes vert-floating {
  from {
    visibility: visible;
    transform: translateY(3px);
  }
  to {
    transform: translateY(-2px);
  }
}

@keyframes glowingIcon {
  from {
    filter: drop-shadow(0 0 0 rgba(255, 255, 255, 1));
  }
  to {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
  }
}

@keyframes glowingText {
  from {
    text-shadow: 0 0 0 rgba(255, 255, 255, 1);
  }
  to {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  }
}

@keyframes tooltipFadeIn {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateX(50%) translateY(-50%);
  }
  10% {
    opacity: 1;
    transform: translateX(0) translateY(-50%);
  }
  90% {
    opacity: 1;
    transform: translateX(0) translateY(-50%);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(50%) translateY(-50%);
  }
}

@keyframes shakeAlert {
  0% {
    transform: translateX(6px);
  }
  5% {
    transform: translateX(12px);
  }
  10% {
    transform: translateX(0);
  }
  12.5% {
    transform: translateX(6px);
  }
  15% {
    transform: translateX(0);
  }
  50% {
    opacity: 1;
  }
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}